
*.xml
*.jpg
*.ini
Dataset/alpaca_data_kr/alpaca_data_1_kr.json
Dataset/alpaca_data_kr/alpaca_data_2_kr.json
Dataset/alpaca_data_kr/alpaca_data_3_kr.json
Dataset/alpaca_data_kr/alpaca_data_4_kr.json
Dataset/alpaca_data_kr/alpaca_data_5_kr.json
*.txt
Dataset/Dataset.zip
*.zip
